
@font-face {
  font-family: 'ahsing';
  src: url('fonts/typogama-ahsing.otf') format('truetype')
}

:root {
  --primary-color: #3499c3;
  --secundary-color: #fc773e;
  --light-color: #f3f0f7;
  --dark-color: #3E3050;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
}


h1 {
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 15px;
  margin-top: 100px;
}

h2 {
  color: var(--primary-color);
  font-size: 20px;
}

h3 {
  color: var(--secundary-color);
  font-size: 18px;
}

h4{
  font-size: 10px !important;
}

h6 {
  font-size: 12px;
  color: var(--primary-color);
}

header h2 {
  font-size: 18px;
  color: var(--primary-color);
}

header h5 {
  font-size: 12px;
}

header h4 {
  color: var(--secundary-color);
  font-size: 14px;
}

header .title {
  font-size: 40px;
}

header span {
font-size: 25px;
}

p {
  line-height: 2;
  opacity: 0.8;
  color: var(--dark-color);
  font-size: 14px;
}

span {
  color: var(--secundary-color);
  font-size: 14px;
}

em {
  color: var(--primary-color);
}

strong {
  color: var(--primary-color);
}


li {
  opacity: 0.8;
}

img {
  border-radius: 20px;
}

section {
  padding: 30px;
  color: var(--dark-color);
}

footer {
  margin-top: 60px;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  font-size: 22px;
}

footer .email-link:hover {
  text-decoration: underline;
  color: var(--secundary-color);
}


footer .social-links a {
  margin: 0 20px;
  background-color: var(--light-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 25px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secundary-color);
}

#picle {
  background: url(images/ledesign.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 150px 50px;
  margin: 0;

}

.about strong {
  font-weight: 500;
  color: var(--secundary-color);
}

.about {
  margin: 60px 100px;
}

.about .title {
  margin-top: 30px;
}

.active {
  color: var(--secundary-color) !important;
}

.btn-violet:hover {
  background-color: var(--secundary-color);
}

.btn-light {
  background-color: var(--light-color);
  border: solid 2px var(--dark-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 50%;
}

.btn-light:hover {
  background-color: var(--secundary-color);
  color: var(--dark-color);
  border-color: var(--dark-color);
}

.btn-portifolio:hover {
  color: var(--secundary-color);
}

.btn-violet {
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}

.containerBody {
  margin: 0 auto;
  background-color: var(--light-color);
  max-width: 1200px;
}

.contact-title {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  letter-spacing: 10px;
}

.contact-links {
  margin: 30px 50px 30px 50px;
}

.carousel button:hover {
  color: var(--dark-color);
  background-color: rgba(67, 29, 49, 0.6);
}

.empathy-map {
  max-width: 60%;
}

.img-shadow {
  opacity: 0.4;
}

.img-link:hover {
  opacity: 0.6;
  cursor: pointer;
  scale: 0.95;
  transition: 200ms ease-in-out;
}

.icons-grid {
  margin-top: 300px !important;
}

.icon {
  color: var(--dark-color);
  text-align: center;
}

.icons-card {
  display: block;
  margin: 20px;
  text-align: center;
}

.icons-card:hover {
  scale: 1.3;
  transition: 200ms ease-in-out;
}

.links {
  margin: 20px 200px;
  color: var(--primary-color);
}

.madoo {
  max-width: 1000px;
}

.navbar {
  background-color: var(--light-color) !important;
}

.navTitle {
  color: var(--secundary-color);
}

.photo-perfil {
  max-width: 90%;
}

.photo-about {
  max-width: 70%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.persona {
  max-width: 20%;
  border-radius: 50%;
  margin: 0 auto;
}

.subtitle {
  color: var(--secundary-color);
}

.scarousel{
  font-size: 14px;
}

.titleSheCodes {
  margin-top: 50px;
}

.title span {
  font-size: 30px;
}

.titleSkills {
  margin: 0px 150px 0px 150px;
}

.violet {
  background-color: var(--dark-color);
  max-width: 70%;
  margin: 0 auto !important;
  border-radius: 20px;
}

.violet h2 {
  color: var(--light-color)
}

.violet p {
  color: var(--light-color);
}

.workTitle {
  text-align: center;
  margin: 60px;
  font-size: 50px;
}


@media (max-width: 990px) {
  header h1 {
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
  }

  header {
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  h5 {
    text-align: center;
  }

  links {
    margin: 20px;
  }

  footer {
    text-align: center;
  }

  .title {
    margin-top: 20px !important;
  }

  .photo-perfil {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .titleSheCodes {
    font-size: 30px;
    margin-top: 10px;
    margin: 10px;
  }

  .violet {
    max-width: 90%;
  }

  .btn-violet,
  .btn-light {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50%;
  }

  .photo-about {
    max-width: 60%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    margin: 0 auto;
  }

  .about {
    margin: 60px 20px;
  }

  .titleSkills {
    margin: 0px;
  }

  .contact-title {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }

  .contact-links {
    margin: 30px 10px;
    text-align: center;
  }

  footer .email-link {
    font-size: 18px;
    text-align: center;
  }

  .workTitle {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    letter-spacing: 0px;
  }
}
