:root {
  --primary-color: #3499c3;
  --secundary-color: #fc773e;
  --background-color: #3e3050;
  --light-color: #cccffd;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

header {
  margin-top: 100px;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 15px;
}

h2 {
  color: var(--primary-color);
}

header h5 {
  font-size: 14px;
}

header h4 {
  color: var(--secundary-color);
  font-size: 14px;
}
h3 {
  font-size: 20px;
  color: var(--primary-color);
}

p {
  line-height: 2;
  opacity: 0.8;
  color: var(--light-color);
}

span {
  color: var(--secundary-color);
}

em {
  color: var(--primary-color);
}

strong {
  color: var(--primary-color);
}

.about strong {
  font-weight: 500;
  color: var(--secundary-color);
}

li {
  opacity: 0.8;
}

img {
  border-radius: 20px;
}

section {
  padding: 30px;
  color: var(--light-color);
}

footer {
  margin-top: 60px;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  font-size: 22px;
}

footer .email-link:hover {
  text-decoration: underline;
  color: var(--secundary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secundary-color);
}

footer .social-links a {
  margin: 0 20px;
  background-color: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 25px;
}

.containerBody {
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--background-color);
  max-width: 1700px;
}

.img-shadow {
  opacity: 0.4;
}

.img-link:hover {
  opacity: 0.6;
  cursor: pointer;
  scale: 0.95;
  transition: 200ms ease-in-out;
}

.navbar {
  background-color: var(--light-color) !important;
}

.navTitle {
  color: var(--secundary-color);
}

.active {
  color: var(--secundary-color) !important;
}

.icon {
  color: var(--light-color);
  text-align: center;
}

.icons-card {
  display: block;
  margin: 20px;
  text-align: center;
}

.icons-card:hover {
  scale: 1.3;
  transition: 200ms ease-in-out;
}

.violet {
  background-color: var(--light-color);
  max-width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.violet p {
  color: var(--background-color);
}

.photo-perfil {
  max-width: 90%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.title {
  text-align: left;
  margin-top: 150px !important;
}

.links {
  margin: 20px 200px;
  color: var(--primary-color);
}

.subtitle {
  color: var(--secundary-color);
}

.titleSheCodes {
  font-size: 50px;
  font-weight: 500;
  margin-top: 50px;
  color: black;
}

.btn-violet {
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.btn-light {
  background-color: var(--background-color);
  border: solid 2px var(--primary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 50%;
}

.btn-light:hover {
  background-color: var(--secundary-color);
  color: var(--background-color);
  border-color: var(--background-color);
}

.btn-portifolio:hover {
  color: var(--secundary-color);
}

.photo-about {
  max-width: 70%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.about {
  margin: 60px 100px;
}

.about .title {
  margin-top: 30px;
}

.titleSkills {
  margin: 0px 150px 0px 150px;
}

.contact-title {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  letter-spacing: 10px;
}

.contact-links {
  margin: 30px 50px 30px 50px;
}

.workTitle {
  text-align: center;
  margin: 60px;
  font-size: 50px;
}

@media (max-width: 990px) {
  header h1 {
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
  }

  header {
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  h5 {
    text-align: center;
  }

  links {
    margin: 20px;
  }

  footer {
    text-align: center;
  }

  .title {
    margin-top: 20px !important;
  }

  .photo-perfil {
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }

  .titleSheCodes {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin: 10px;
  }

  .violet {
    max-width: 90%;
  }

  .btn-violet,
  .btn-light {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50%;
  }

  .photo-about {
    max-width: 60%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    margin: 0 auto;
  }

  .about {
    margin: 60px 20px;
  }

  .titleSkills {
    margin: 0px;
  }

  .contact-title {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }

  .contact-links {
    margin: 30px 10px;
    text-align: center;
  }

  footer .email-link {
    font-size: 18px;
    text-align: center;
  }

  .workTitle {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    letter-spacing: 0px;
  }
}
